
*{
    margin-top: 0;
    padding-top: 0;
}
h3{
    font-size: 2em;
    padding-left: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 0rem;
}
h4{
    font-size: 1.5em;
    padding-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
}
h5{
    font-size: 5em;
}
p{
    padding-left: 0.5rem;
    padding-top: 1em;
    padding-bottom: 1em;
}
/*Schriftart und Hintergrundbild ändern*/
body{
    background-image: url(Bilder/background.png);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width:1300px;
}
/*NavLeiste*/
nav{
    position:sticky;
    top: 0;
    margin-top: 1rem;
}

a:hover{
    color:rgb(209, 0, 0);
}

.navLine{
    padding: 15px;
    font-size: 120%;
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 6px;
}

.navButton{
    color: whitesmoke;
    text-decoration-line: none;
}

.currentPage{
    color: rgb(0, 167, 42);
    text-decoration-line: none;
}
.blueColor{
    color: darkblue;
}

#circle{
    background: darkblue;
    height: 50em;
    width: 50em;
    transform: translateY(-400px);
    border-radius: 100%;
    margin-bottom: -400px;
    margin-left:auto;
    margin-right: auto;
}

#circle-content{
    color: white;
    transform: translateY(475px);
}
#circle-content h1{
    font-size: 5rem;
    margin-left: 5rem;
    letter-spacing: 0px;
    position:relative left;
    width: 30rem;
}
#circle-content2{
    font-size: 3rem;
    color: lightgray;
    letter-spacing: 0px;
    position: relative;
    width: 18rem;
    padding-left: 17rem;
    padding-bottom: 8rem;
    width: 30rem;
    height: 5rem;
}
#circle-content3{
    width: 64px;
    height: 64px;
    transform: translateY(100px) translateX(600px);
}
#circle-content3:hover{
    filter:invert(20%);
}
#secondNav{
    background-color: darkblue;
    color: whitesmoke;
    border-radius: 4rem;
    width:300px;
    margin:auto;
    padding-top: 80px;
    padding-bottom: 20px;
    clip: rect(50px, 0px, 0px, 0px);
    transform: -300px;
}
label{
    font-size: 0.7rem;
    margin-left: 5px;
}
input, textarea, button{
    background-color: whitesmoke;
    padding:5px;
    margin: 5px;
    border-style:groove;
    border-color: lightgray;
}
input:hover, textarea:hover{
    border-color: gray;
}
button:hover{
    background-color: lightgray;
    border-color: green;
}

.blocksatz{
    text-align: justify;
}
/*3x Element, 3x ID, 3X Klasse*/

.container{
    display:flex;
    flex-direction: row;
    background-color: rgba(211, 211, 211, 0.349);
    border-radius: 0.4em;
    height: auto;
    padding: 2rem;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap:wrap;
    align-content: space-between;
    gap: 1rem;
}
.container > div{
    width: auto;
    height:auto;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:lighter;
}

.navBar{
    position: fixed;
    display:flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    align-items: center;
    align-content:center;
    background-color: rgba(29, 29, 29, 0.589);
    border-radius: 0.5em;
    top:0;
}
.navBar > div{
    font-size: 1.5em; 
    padding: 0.3em;
}
.animation div{
    height: 100px;
    width: 300px;
    background-color: rosybrown;
    border-style: solid;
    margin: 1em;
    border: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.animation div:active{
    transition: background-color 2s ease-in 0s;
    background-color: yellow;
}
.animation div:nth-child(odd):active{
    transition: font-size 2s ease-in 0s;
    font-size: 2rem;
}
.animation div:hover{
    border-style: dotted;
    border-color: black;
}
#überschrift{
    display: none;
}
.flexbox{
    display: flex;
    flex-direction: column;
}

.flexbox >div{
    background-color: rgba(211, 211, 211, 0.349);
    border-radius: 0.4em;
}
@media (max-width: 1300px){
    body{
        width:1000px;
    }
}
@media (max-width: 1024px){
    body{
        width: 90%;
    }
    .container img{
        object-fit:cover;
    }
}
@media (max-width: 600px){
    body{
        width: 100%;
    }
    .container img{
        padding: 0;
    }
    #circle{
        display: none;
    }
    .navBar{
        right: 0;
        flex-direction: column;
    }
    #strich{
        display:none;
    }
    #überschrift{
        display: contents;
        font-size: 3em;
        margin: 0.3em;
    }
    img{
        width: 90%;
    }
}