.button {
    background-color: red;
    position: relative;
    width: 200px;
    height: 50px;
}
.buttonFlexbox {
    position: absolute;
    transform: translateY(20px);
    display: flex;
    flex-direction: row;
}
#rectangleArea {
    width: 400px;
    height: 400px;
    border-color: black;
    border-style: dotted;
}