* {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}
.button {
  position: relative;
  width: 200px;
  height: 50px;
}
#rectangleArea {
  width: 500px;
  height: 500px;
  border-color: black;
  border-style: dotted;
}
#kapitelaufgabe {
  position: absolute;
  transform: translateY(100px);
  width: 1000px;
}
#konfiguratorFlexBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(211, 211, 211, 0.753);
  border-radius: 4px;
  justify-content: center;
}
.konfiguratorContentBox {
  width: 200px;
  height: 250px;
  margin: 20px;
  padding: 20px;
}
.konfiguratorContent {
  background-color: rgba(119, 136, 153, 0.582);
  padding: 10px;
  border-radius: 4px;
  width: 200px;
  height: 200px;
  margin: auto;
}
.konfiguratorContent span {
  float: right;
}
.konfiguratorContent h4 {
  display: inline;
}
.konfiguratorContent div {
  margin-top: 20px;
}

#nextSite {
  margin: auto;
  width: 100px;
}

.chooseButton {
  background-color: lightcyan;
  padding: 4px;
}

div h4 {
  margin: 0px;
}

/* The container Style für RadioButton*/
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}